.about .container {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 125px;
  align-items: center;
  background-image: url("../images/mleko_mobile.png");
  background-size: contain;
background-repeat: no-repeat;

  // flex-direction: column;
}
.undertitle {

    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $accentColor;
    margin-bottom: 15px;


}

.sectiontitle {


    margin-bottom: 26px;
    max-width: 200px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title_picture {
    width: 280px;
    height: 279px;

}

.paragraphs_main {

  max-width: 220px;
}

.paragraphs_main:not(:last-child) {
  margin-bottom:47px;
}
.paragraphs {
  justify-content: center;
  font-family: $mainFont;
  max-width: 220px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $secondaryColor;


}

.paragraphs_main--second {
  color:$descriptionColor;
}

.about {
  margin-top: 17px;

}
.background_pic {
  position: sticky;
  width: 100%;
  padding-top: 786px;
}
