.about {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
}
.undertitle {
    position: absolute;
    font-family: $secondaryColor;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $accentColor;
}

.sectiontitle {
    position: absolute;
    max-width: 200px;
    font-family: $secondaryColor;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title_picture {
    position: absolute;
    width: 280px;
    height: 279px;
}