
.mobile-menu {
    background-color: $mobileMenuBg;
    position: fixed;
    height: 100%;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu-list {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.302;
    padding-bottom: 50px;

    &__item {
        border-bottom: 1px solid $mobileMenuBorder;
        padding: 13px 0px 13px 21px;
    }

    &__item:first-child {
        border-top: 1px solid $mobileMenuBorder;
    }

    &__link {
        text-decoration: none;
        color: $primaryColor;

        &:hover,
        &:focus {
            color: $mobileMenuHover;
        }
        
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        width: 250px;
    }

    .mobile-menu-list {

        &__item {
            padding: 13px 0px 13px 24px;
        }
    }

}


