<section class="about">

  <div class="container">
<div class="section-headings">
  <p class="undertitle">tradition and love</p>
  <h3 class="sectiontitle">how it’s made?</h3>
</div>
    <div>
      <picture class="title_picture">
        <source media="(min-width:1280px)" srcset="./images/krowa_desktop.png 1x, ./images/krowa@2x_desktop.png 2x">
        <source media="(min-width:768px)" srcset="./images/krowa_tablet.png 1x, ./images/krowa@2x_tablet.png 2x">
        <source srcset="./images/krowa@2x_mobile.png 2x">

      <img src="./images/krowa_desktop.png" alt="krowa"/>
      </picture>
      </div>
      
    <ul class="paragraphs list">

      <li class="paragraphs_main">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
        Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      </li>
      <li class="paragraphs_main paragraphs_main--second"><p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
      </li>
      <li class="paragraphs_main paragraphs_main--second"><p>Aliquam erat volutpat. Aenean accumsan.</p></li>
    <li class="paragraphs_main"> <button class="button about_btn" type="button" data-modal-open>Read more<svg class="svg"><use href="./images/button.svg#icon-Vector-1"></use> </svg></li>
    </ul>

     </button>
<ul class="icons-list">
  <li class="icons-list__item">
    <svg>
      <use href=""></use>
    </svg>
  </li>
  <li class="icons-list__item"></li>
  <li class="icons-list__item"></li>
</ul>

  </div>
</section>





