<section class="about">
  <div class="container">
  <title class="undertitle">tradition and love</title>
  <h1 class="sectiontitle">how it’s made?</h1>
  <div>
    <picture class="title_picture">
      <source media="(min-width:1200px)" srcset="src/images/krowa_desktop.png 1x, src/images/krowa@2x_desktop.png 2x">
      <source media="(min-width:768px)" srcset="src/images/krowa_tablet.png 1x, src/images/krowa@2x_tablet.png 2x">
      <source srcset=" src/images/krowa@2x_mobile.png 2x">

    <img src="src/images/krowa_desktop.png" alt="krowa"/>
    </picture>
    </div>
     <ul class="paragraphs list">

    <li class="paragraphs_main">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
      Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
    <li class="paragraphs_description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
      Aliquam erat volutpat. Aenean accumsan.</li>
    </ul>

  <button class="button" type="button" data-modal-open>Read more</button>

</div>
</section>
  <!-- <use href="./src/images/button.svg#icon-Vector-1"></use> </svg> -->

