<section class="advantages">
  <div class="container">
<ul class="advantages_list list">
<div class="advantages_group">
  <li class="advantages_item advantages_item--cow ">
    <picture class="advantages_picture">
      <source media="(min-width:1200px)" srcset="./images/wymiona_desktop.png 1x, ./images/wymiona@2x_desktop.png 2x">
      <source media="(min-width:768px)" srcset="./images/wymiona_tablet.png 1x, ./images/wymiona@2x_tablet.png 2x">
      <source srcset="./images/wymiona@2x_mobile.png 2x">

    <img src="./images/wymiona_mobile.png" alt="wymiona"/>
    </picture>

  </li>
  <li class="advantages_item number">
    <div class="advantages_paragraph">721</div>
  </li>
  <li class="advantages_item description">
    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
  </li>
</div>
<div class="advantages_group">
  <li class="advantages_item advantages_item--fruit">
    <picture class="advantages_picture">
      <source media="(min-width:1200px)" srcset="./images/owoce_desktop.png 1x, ./images/owoce@2x_desktop.png 2x">
      <source media="(min-width:768px)" srcset="./images/owoce_tablet.png 1x, ./images/owoce@2x_tablet.png 2x">
      <source srcset="./images/owoce@2x_mobile.png 2x">

    <img src="./images/owoce_mobile.png" alt="owoce"/>
    </picture>
  </li>
  <li class="advantages_item number">
    <div class="advantages_paragraph">16kg</div>
  </li>

  <li class="advantages_item description">
    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
  </li>
</div>
<div class="advantages_group">
  <li class="advantages_item advantages_item--heart">

    <picture class="advantages_picture">
      <source media="(min-width:1200px)" srcset="./images/serce_desktop.png 1x, ./images/serce@2x_desktop.png 2x">
      <source media="(min-width:768px)" srcset="./images/serce_tablet.png 1x, ./images/serce@2x_tablet.png 2x">
      <source srcset="./images/serce@2x_mobile.png 2x">

    <img src="./images/serce_mobile.png" alt="owoce"/>
    </picture>

  </li>
  <li class="advantages_item number">
    <div class="advantages_paragraph">84</div>
  </li>
  <li class="advantages_item description">
    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
  </li>
</div>
</ul>



  </div>





</section>