<section class="customer-reviews">
  <div class="container">
    <h1 id="customerreviews" class="customer-reviews__heading"></h1>
    <div class="customer__box unloaded">
            <article  class="card card_shown">
              <div class="image__thumb">
                <img src="../src/images/customer/girl1.png" alt="girl1" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Emily, Los Angeles</p>
              </div>
            </article>
            <article  class="card">
              <div class="image__thumb">
                <img src="../src/images/customer/girl2.png" alt="girl2" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Natally, Chicago</p>
              </div>
            </article>
            <article  class="card">
              <div class="image__thumb">
                <img src="../src/images/customer/girl3.png" alt="girl3" />
              </div>
              <div class="customer__review">
                <div class="text__thumb">
                  <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus.
                  </p>
                </div>
              </div>
              <div class="after__text">
                <p class="customer__name">Jully, New York</p>
              </div>
            </article>
          </div>
          <div class="customer_swipe_container">
            <button type="button" class="customer_swipe_container_btn chosen">.</button>
            <button type="button" class="customer_swipe_container_btn">.</button>
            <button type="button" class="customer_swipe_container_btn">.</button>
          </div>
      </div>
</section>