
<section class="gallery">

  <div class="container pic">
        <picture class="gallery_picture">
          <source media="(min-width:1200px)" srcset="./images/gallery_desktop.jpg 1x, ./images/gallery@2x_desktop.jpg 2x">
          <source media="(min-width:768px)" srcset="./images/gallery_tablet.jpg 1x, ./images/gallery@2x_tablet.jpg 2x">
          <source srcset="./images/gallery@2x_mobile.jpg 2x">

        <img src="./images/gallery_mobile.jpg" alt="photo"/>
        </picture>
    </div>


</section