<div class="mobile-menu is-hidden" data-mobile-menu>

    <svg class="button_icon-close" data-mobile-menu-close width="24" height="24">
        <use href="images/icons.svg#icon-Vector-12"></use>
        <use href="images/icons.svg#icon-Vector-13"></use>
    </svg>

    <button type="submit" class="button button__mobile">
        <span class="button_name">Buy now</span>
        <svg class="button_icon-buy-now" data-mobile-menu-open width="24" height="24">
            <use href="images/icons.svg#icon-Vector-1"></use>
        </svg>
    </button>
 
    <ul class="mobile-menu-list">
        <li class="mobile-menu-list__item">
            <a href="./index.html" class="mobile-menu-list__link">Home</a>
            </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">About us</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Howe it's made?</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Our products</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Contact</a>
        </li>
    </ul>

</div>

<!-- <script src="js/mobile-menu.js"></script> -->