<div class="mobile-menu is-hidden" data-mobile-menu>

    <!-- <svg class="button__icon-close-mobile" data-mobile-menu-close width="20" height="20">
        <use href="images/icons.svg#icon-close-mobile"></use>
    </svg> -->

    <ul class="mobile-menu-list">
        <li class="mobile-menu-list__item">
            <a href="./index.html" class="mobile-menu-list__link">Home</a>
            </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">About us</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Howe it's made?</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Our products</a>
        </li>
        <li class="mobile-menu-list__item">
            <a href="#" class="mobile-menu-list__link">Contact</a>
        </li>
    </ul>

</div>

<script src="js/mobile-menu.js"></script>