<section>
<div class="container">
    <span class="products__span">100% natural</span>
    <h2 class="product__heading">PRODUCTS</h2>
        <ul class="producs__list">
                <li class="product-items">
                <h3 class="product-heading">ICE CREAM</h3>
                <p class="product-tittle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            </li>
            <li class="product-items">
                <h3 class="product-heading">ICE COFFEE</h3>
                <p class="product-tittle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li class="product-items">
                <h3 class="product-heading">MILKSHAKES</h3>
                <p class="product-tittle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
        </ul>
    </div>    
</div>
</section>