.button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.313;
      text-align: center;
      color: $mainTextColor;
      border-radius: 22px;
      border-style: none;
      cursor: pointer;

      :hover, :focus {
            background-color: $buttonHover;
      }

      &__mobile {
            display: inline-flex;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 19px;
            height: 44px;
      }

      &_icon-close {
            display: flex;
            position: absolute;
            margin-left: 205px;
            margin-top: 20px;
            fill: $primaryColor;
            cursor: pointer;
            // bg do wywalenia po podłączeniu svg
            
      }

      &_name {
            padding: 0px 30px 0px 50px;

            :hover, :focus {
            background-color: $buttonHover;
            }
      }

      &_icon-buy-now {
            padding-right: 50px;
            fill: $mobileMenuHover;
            // bg do wywalenia po podłączeniu svg
            background-color: blue;
      }

}