.button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.313;
      text-align: center;
      color: $mainTextColor;
      border-radius: 22px;
      border-style: none;
      cursor: pointer;

      &__mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 19px;
            height: 44px;
            background-color: $primaryColor;

            :hover, :focus {
                  background-color: $buttonHover;
            }
      }

      &_icon-close {
            position: absolute;
            right: 28px;
            top: 23px;
            cursor: pointer;
      }

      &_name {
            padding: 0px 20px 0px 60px;
      }

      &_icon-bt-mark {
            margin-right: 40px;
            fill: $mobileMenuHover;
            background-image: url("/images/icon-bt-mark.svg");
            background-size: 35%;
            background-repeat: no-repeat;
            background-position: center 56%;
            background-position-x: 50%;
            // bg do wywalenia po podłączeniu svg
            // background-color: #000;  
      }
}

@media screen and (min-width: 768px) {

      .button {
            &_icon-close {
                  right: 34px;
            }
      }
}