@media screen and (min-width: 320px) and (max-width: 767px) {
      .container {
        padding: 0;
      }

  
    .hero__button{
      color: $mainTextColor;
      background-color: $primaryColor;
      position: absolute;
      z-index: 4;
     
      
      border-radius: 20px;
      align-items: center;
      text-align: center;
      width: 61.2px;
      height: 24px;
      font-size: 8px;
      border: none;
      margin-right: 8px;

    }





    .hero__button2{
      color: $mainTextColor;
      left: 70px;
      position: absolute;
      z-index: 4;
      border-radius: 20px;
      align-items: center;
      text-align: center;
      // background-color: $primaryColor;
      width: 82.8px;
      height: 24px;
      font-size: 8px;
      border: none;
      background-color: $primaryColor;
    }


    .header__top {
      min-width: 320px;
      justify-content: left;
    align-items: center;
    }
}

.header_menu{
  fill:$mainTextColor;
  position: absolute;
  z-index: 2;
  top: 23px;
  right: 23px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    .header__logo {
      
      margin-left: 20px;
      margin-top: 6px;
    }

    
    .header__nav,
    .header__picture--left,
    .header__text,
    .header__vector--tablet,
    .header__icon-cafe,
    .header__icon-trucks,
    .header__bottom-items,
    .header__milk-text,
    .header__tasty,
    .header__btn--top,
    .cafe,
    .trucks {
      display: none;
    }

   
   
    .header__bottom {
      min-height: 447px;
    }
    .header__title {
      font-size: 26px;
      line-height: 1,15;
      margin-top: 137px;
      margin-bottom: 19px;
      margin-left: 20px;
    }
    .header__title-passion {
      font-size: 48px;
      line-height: 1,043;
    }
    .header__buttons {
      margin-top: 262px;
      margin-left: 20px;
    }
   
    
    .header__ellipse {
      background-image: url(../images/Ellipse-mobile.png);
      background-repeat: no-repeat;
      //  max-width: 346px;
       height: 344px;
       margin: 0;
       margin-top: 83px;
      //  margin-left: auto;
      //  margin-left: 36px;
      //  border-radius: 50%;
      //  position: absolute;
      //  left: 54%;
      //  bottom: -21%;
      //  -webkit-transform: translateY(-50%) translateX(-50%);
      //          transform: translateY(-50%) translateX(-50%);
      //  background-color: $accentColor;
      //  z-index: 1;
    }
    .header__ice-cream {
      width: 171px;
      // height: 413px;
      // margin-top: 10px;
      // margin-right: 94px;
      margin-left: 81px;
      position: absolute;
      left: 18%;
      top: 53%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }
    
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .hero__button{
      color: $mainTextColor;
      // top: 328px;
      // left: 20px;
      // margin-top: 40%;
      position: absolute;
      z-index: 4;
      background-color: $primaryColor;
      
      border-radius: 20px;
      align-items: center;
      text-align: center;
      width: 61.2px;
      height: 24px;
      font-size: 8px;
      border: none;
      margin-right: 8px;

    }

    .hero__button2{
      color: $mainTextColor;
      left: 70px;
      position: absolute;
      z-index: 4;
      border-radius: 20px;
      align-items: center;
      text-align: center;
      // background-color: $primaryColor;
      width: 82.8px;
      height: 24px;
      font-size: 8px;
      border: none;
     
  }


    .cafe,
    .trucks
    {
      display: flex;
      position: absolute;
      right: 64px;
    }

    .cafe{
      margin-bottom: 10px;
      top:94px;
    }

    .cafe__number,
    .trucks__number {
      position: absolute;
      font-family: $secondaryFont;
      font-size: 28px;
      color: $mainTextColor;

    }
    .cafe__text{
      color: $primaryColor;
      font-size: 8px;
      left: 14px;
      top: 30px;
      position: absolute;
      z-index: 3;
    }
    .cafe__ellipse{
      position: absolute;
      left: 30px;
      background-color: $primaryColor;
      border-radius: 50%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 16px;
      height: 16px;
      position: absolute;
      z-index: 1;
      -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    }

    .trucks{
      
      top:151px;
    }
    .trucks__text {
      color: $primaryColor;
      font-size: 8px;
      // left: 4px;
      top: 30px;
      position: absolute;
      z-index: 3;
      width: 43px;
    }
    .trucks__ellipse{
      position: absolute;
      left: 25px;
      background-color: $primaryColor;
      border-radius: 50%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 16px;
      height: 16px;
    }




    .header__bottom-items{
      display: flex;
      width: 124px;
      height: 126px;
      margin-top: 19px;
      margin-left: 34px;
      position: absolute;
      left: 8%;
      top: 66%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }

    .header_menu{
      right: 28%;
      top: 52px;
    }
    .header__top {
      min-width: 768px;
      max-width: 1279px;
    }
    .header__logo {
      margin-left: 34px;
      margin-top: 37px;
    }
    .header__nav {
      display: none;
    }
   
   
    .header__btn--top {
      margin-right: 34px;
      width: 160px;
      right: 10%;
      // bottom: 87%;
      -webkit-transform: translateY(-50%) translateX(50%);
              transform: translateY(-50%) translateX(50%);
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 1,312;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      color: $mainTextColor;
      background-color: $primaryColor;
      border: none;
      border-radius: 22px;
      margin-top: 78px;
      cursor: pointer;
      height: 44px;
    }
   
    .header__bottom {
      min-height: 340px;
    }
    .header__title {
      font-size: 22px;
      line-height: 1,590;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-left: 34px;
    }
    .header__title-passion {
      font-size: 34px;
      line-height: 1,096;
    }
    .header__buttons {
      margin-top: 135px;
      margin-left: 34px;
    }
    
   
    .header__ellipse {
      width: 324px;
      height: 322px;
      margin: 31px 137px 46px 307px;
      border-radius: 50%;
      position: absolute;
      left: 21%;
      bottom: -51%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      background-color: $accentColor;
      z-index: 1;
    }
    .header__ice-cream {
      width: 143px;
      height: 312px;
      margin-top: 32px;
      margin-right: 110px;
      margin-left: 71px;
      position: absolute;
      left: 15%;
      top: 46%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }
    .header__tasty {
      display: flex;
      width: 168px;
      height: 133px;
      margin-right: 34px;
      position: absolute;
      left: 87%;
      top: 78%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 1;
    }
    .header__icon-cafe {
      margin-top: 12px;
      margin-right: 34px;
      position: absolute;
      left: 93%;
      top: 5%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__icon-trucks {
      margin-top: 13px;
      margin-right: 34px;
      position: absolute;
      left: 92%;
      top: 23%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__icon-cafe-desktop,
    .header__icon-trucks-desktop {
      display: none;
    }

    @media screen and (min-width: 768) and (max-width: 1280px) {

      
    
    .header__bottom-items {
      display: flex;
      width: 124px;
      height: 126px;
      margin-top: 19px;
      margin-left: 34px;
      position: absolute;
      left: 8%;
      top: 66%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }}
    .header__milk-text {
      display: flex;
      width: 114px;
      height: 48px;
      font-family: 'DM Sans';
      font-size: 8px;
      line-height: 1,5;
      color: $primaryColor;
      // margin-bottom: 59px;
      // margin-left: 154px;
      position: absolute;
      left: 145%;
      top: 54%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__arrow {
      width: 18px;
      height: 18px;
      margin-bottom: 34px;
      margin-left: 154px;
      position: absolute;
      right: -23%;
      top: 87%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
  }

  .header__arrow:hover,
  .header__arrow:focus {
    background-color: $mainTextColor;
  }
  
  @media screen and (min-width: 1280px) {
    .header__logo {
    
      margin-top: 28px;
      margin-left: 46px;
    }
    .hero__button{
      color: $mainTextColor;
      font-weight: 400;
      position: absolute;
      z-index: 4;
      min-width: 102px;
      min-height: 40px;
      background-color: $primaryColor;
      border-radius: 20px;
      align-items: center;
      text-align: center;
      width: 61.2px;
      height: 24px;
      font-size: 16px;
      border: none;
      margin-right: 8px;

    }

    .hero__button2{
      color: $mainTextColor;
      font-weight: 400;
      left: 110px;
      position: absolute;
      z-index: 4;
      border-radius: 20px;
      align-items: center;
      text-align: center;
      min-width: 138px;
      min-height: 40px;
      width: 82.8px;
      height: 24px;
      font-size: 16px;
      border: none;
      background-color: $primaryColor;
  }



    .cafe,
    .trucks
    {
      display: flex;
      position: absolute;
      right: 97px;
    }

    .cafe{
      
      top:94px;
    }

    .cafe__number,
    .trucks__number {
      position: absolute;
      font-family: $secondaryFont;
      font-size: 46px;
      color: $mainTextColor;

    }
    .cafe__text{
      color: $primaryColor;
      font-size: 14px;
      left: 14px;
      top: 50px;
      position: absolute;
      z-index: 3;
    }
    .cafe__ellipse{
      position: absolute;
      left: 45px;
      background-color: $primaryColor;
      border-radius: 50%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 16px;
      height: 16px;
      position: absolute;
      z-index: 1;
      -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    }

    .trucks{
      
      top:171px;
    }
    .trucks__text {
      color: $primaryColor;
      font-size: 14px;
      left: -20px;
      top: 50px;
      position: absolute;
      z-index: 3;
      width: 74px;
    }
    .trucks__ellipse{
      position: absolute;
      left: 40px;
      background-color: $primaryColor;
      border-radius: 50%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 16px;
      height: 16px;
    }




    .header__top {
      min-width: 1280px;
    }
    
    .header__nav {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 541px;
      height: 21px;
     
      top: 50px;
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 1,4;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      right: 12%;
      // top: 1%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }
    .header__link {
      color: $primaryColor;
      width: auto;
    }
    .header__link:focus,
    .header__link:hover {
      color: $mainTextColor;
    }
    .header__link:not(:last-child) {
      margin-right: 35px;
    }
     .header_menu {
       display: none;
     }
    .header__btn--top {
      margin-right: 115px;
      width: 159px;
      right: 6%;
      top: 48px;
      -webkit-transform: translateY(-50%) translateX(50%);
              transform: translateY(-50%) translateX(50%);
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 1,312;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      color: $mainTextColor;
      background-color: $primaryColor;
      border: none;
      border-radius: 22px;
      // margin-top: 38px;
      cursor: pointer;
      height: 44px;
    }
    .header__btn--top:hover,
    .header__btn--top:focus {
      color: #ffffff;
      background-color: $mainTextColor;
    }
    .header__bottom {
      min-height: 594px;
    }
    .header__title {
      font-size: 38px;
      line-height: 1,312;
      margin-top: 84px;
      margin-bottom: 25px;
      margin-left: 115px;
    }
    .header__title-passion {
      font-size: 58px;
      line-height: 1,115;
    }
    .header__buttons {
      margin-top: 246px;
      margin-left: 115px;
    }
    
   
    .header__ellipse {
      width: 538px;
      height: 538px;
      margin: 52px 267px 75px 475px;
      border-radius: 50%;
      position: absolute;
      left: 21%;
      bottom: -42%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      background-color: $accentColor;
      z-index: 1;
    }
    .header__ice-cream {
      width: 236px;
      height: 593px;
      margin-top: 56px;
      margin-right: 183px;
      margin-left: 119px;
      position: absolute;
      left: 15%;
      top: 46%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }
    .header__tasty {
      display: flex;
      width: 293px;
      height: 242px;
      margin-right: 109px;
      position: absolute;
      left: 87%;
      top: 81%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      z-index: 1;
    }
    .header__icon-cafe,
    .header__icon-trucks {
      display: none;
    }
    .header__icon-cafe-desktop {
      margin-top: 74px;
      margin-right: 97px;
      position: absolute;
      left: 90%;
      top: 5%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__icon-trucks-desktop {
      margin-top: 15px;
      margin-right: 97px;
      position: absolute;
      left: 89%;
      top: 30%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__bottom-items {
      display: flex;
      width: 188px;
      height: 191px;
      margin-top: 56px;
      margin-left: 77px;
      position: absolute;
      left: 7%;
      top: 64%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }

    .header__milk-text {
      display: flex;
      width: 200px;
      height: 78px;
      font-family: 'DM Sans';
      font-size: 14px;
      line-height: 1,428;
      color: $primaryColor;
      // margin-bottom: 102px;
      // margin-left: 295px;
      position: absolute;
      left: 170%;
      top: 51%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    .header__arrow {
      width: 26px;
      height: 26px;
      margin-bottom: 56px;
      margin-left: 295px;
      position: absolute;
      right: -41%;
      top: 90%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
  }
  
  .header {
    background-color: #ffb8ca;
  }
  
  .header__top {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            // justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__logo {
    
    // margin-top: 28px;
    // margin-left: 46px;
    
    mix-blend-mode: multiply;
    cursor: pointer;
  }
  
  .header__bottom {
    position: relative;
  }
  
  .header__title {
    position: absolute;
    font-family: 'Titan One';
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
    z-index: 3;
  }
  
  .header__title-passion {
    color: $mainTextColor;
  }
  
  .header__buttons {
    position: absolute;
    z-index: 3;
  }
  
  
  
  
  .link {
    text-decoration: none;
  }
  .header__btn--top:hover,
  .hero__button:hover,
  .hero__button2:hover,
  .header__btn--top:focus,
  .hero__button:focus,
  .hero__button2:focus {
    color: #ffffff;
    background-color: $mainTextColor;
  }