ul{
    list-style: none;
}
.products {
    padding-top: 121px;
    padding-bottom: 98px;
    @media screen and(min-width: 768px) {
      padding-top: 122px;
      padding-bottom: 112px;
    }
    @media screen and(min-width: 1280px) {
      padding-top: 126px;
      padding-bottom: 119px;
    }
  }
.products__span{
    margin-bottom: 15px;
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: $accentColor;
    @media screen and(min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      text-align: center;
    }
    @media screen and(min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
      text-align: center;
    }
}
.products__heading{
    margin-bottom: 157px ;
    font-family:$secondaryFont ;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color:$mainTextColor;
    @media screen and(min-width: 768px) {
        margin-bottom: 167px;
        font-size: 48px;
        line-height: 1.14;
        text-align: center;
      }
      @media screen and(min-width: 1280px) {
        margin-bottom: 176px;
        font-size: 58px;
        line-height: 1.13;
        text-align: center;
      }
}
.products__about{
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-righ: -10px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-righ: -12px;
  }
}
.products__list {
    margin-bottom: 0;
    border-radius: 24px;
    width: 280px;
    @media screen and (max-width: 479px) {
      text-align: center;
      max-width: 280px;
      height: 485px;
      margin: 0 auto;
    }
    @media screen and (min-width: 480px) {
      text-align: center;
      max-width: 280px;
      height: 485px;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 150px;
      }
    }
    @media screen and(min-width: 768px) {
      flex-basis: calc((100% - 3 * 20px) / 3);
      margin-left: 10px;
      margin-right: 10px;
      max-width: 220px;
      height: 485px;
    }
    @media screen and(min-width: 1280px) {
      flex-basis: calc((100% - 3 * 24px) / 3);
      margin-left: 12px;
      margin-right: 12px;
      max-width: 330px;
      height: 525px;
    }
  }
  .products__list-ice {
    background:$headerColor;
    @media screen and (min-width: 480px) {
          padding-top: 161px;
      }
      @media screen and (max-width: 479px) {
        padding-top: 161px;
    }
      @media screen and (min-width: 768px) {
         padding-top: 152px;
      }
      @media screen and (min-width: 767px) {
        padding-top: 152px;
      }
      @media screen and (min-width: 1280px) {
         padding-top: 163px;
        }
}
  .products__list-coffe {
    background:#F0D1A5;
    @media screen and (min-width: 480px) {
        padding-top: 161px;
    }
    @media screen and (max-width: 479px) {
      padding-top: 161px;
  }
    @media screen and (min-width: 768px) {
       padding-top: 152px;
    }
    @media screen and (min-width: 767px) {
      padding-top: 152px;
    }
    @media screen and (min-width: 1280px) {
       padding-top: 163px;
      }
  }
  .products__list-milk {
    background: #C2E297;
    @media screen and (min-width: 480px) {
        padding-top: 161px;
    }
    @media screen and (max-width: 479px) {
      padding-top: 161px;
  }
    @media screen and (min-width: 768px) {
       padding-top: 152px;
    }
    @media screen and (min-width: 767px) {
      padding-top: 152px;
    }
    @media screen and (min-width: 1280px) {
       padding-top: 163px;
      }
  }
.products__list-tittle{
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-left: 52px;
    padding-right: 52px;
    width: 100%;
    color: $primaryColor;
    @media screen and(min-width: 768px) {
      padding-left: 22px;
      padding-right: 22px;
    }
    @media screen and(min-width: 1280px) {
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 38px;
      font-size: 30px;
      line-height: 1.13;
}
}
.products__list-text{
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: $primaryColor;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-top: 30px;
    @media screen and(min-width: 768px) {
      padding-left: 11px;
      padding-right: 11px;
      padding-bottom: 40px;
    }
    @media screen and(min-width: 1280px) {
      padding-left: 44px;
      padding-right: 44px;
      padding-bottom: 62px;
      margin-top: 32px;
      font-size: 16px;
      line-height: 1.75;
    }
    @media screen and (min-width: 480px) {
        padding-top: 66px;
    }
    @media screen and (max-width: 479px) {
      padding-top: 66px;
  }
    @media screen and (min-width: 768px) {
       padding-top: 66px;
    }
    @media screen and (min-width: 767px) {
      padding-top: 66px;
    }
    @media screen and (min-width: 1280px) {
       padding-top: 70px;
      }
}